body {
	padding: 15px;
}
.bus {
	border: 1px solid #ddd;
	width: 40%;
	padding: 0.5rem;
	border-radius: 4px;
	margin-left: 32px;
}
.bus.seat4-3 .seats .seat:nth-child(4), .bus.seat2-2 .seats .seat:nth-child(2) {
	margin-right: 14.2857142857%;
}
.bus.seat4-3 .seats .seat:nth-child(4) {
	margin-right: 14.2857142857%;
}
.seats {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	-ms-flex-pack: center !important;
	justify-content: center !important;
	padding: 0;
	margin-bottom: 2px;
}
.seats .seat {
	display: flex;
	flex: 0 0 14.2857142857%;
	padding: 3px;
	position: relative;
}

.seats .seat label {
	border-radius: 4px;
	background: #3783b5;
	padding: 0;
	width: 25px;
	height: 25px;
	margin-bottom: 0.1rem;
	display: inline-block;
	font-size: 0.7rem;
}
.seats .seat input[type="radio"] {
	display: none !important;
}
.seats .seat input[type="radio"] + label {
	border-radius: 4px;
	background: #3783b5;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 4px;
	color: #fff;
}
.seats .seat input[type="radio"]:checked + label {
	background: #46be8a;
}
.seats .seat input[type="radio"]:checked + label:after {
	background: none;
}
.seats .seat input[type="radio"]:disabled + label {
	cursor: not-allowed;
	background: #f73737;
}
